<!DOCTYPE html>
<html>

<body style="font-family: Arial, sans-serif; font-size:15px; color:#333333; line-height:1.5;">

<p><b>*Correo para equipo de RH*<b></p>
</br>
<p>Hola Equipo.</p>

<p>
Mi nombre es <b>Andrés Felipe Ramírez Espinal</b>, tengo 21 años y resido en Medellín, Colombia.
Actualmente me encuentro en búsqueda de oportunidades (Virtuales) como
<b>Analista QA Automatizador</b>.
</p>

<p>
Cuento con <b>2 años de experiencia</b> como Analista QA Automatizador
(2 años y 6 meses incluyendo mis prácticas),
desempeñándome en los sectores <b>iGaming</b> y <b>bancario</b>.
</p>

<p>Durante mi experiencia laboral he realizado:</p>

<ul>
    <li>Automatización de pruebas con <b>Cypress</b> y <b>Playwright</b>.</li>
    <li>Pruebas Funcionales, Smoke, Integración, Regresión y Seguridad.</li>
    <li>Validación de APIs mediante <b>Postman</b>.</li>
    <li>Diseño y documentación de casos de prueba e historias de usuario.</li>
    <li>Reporte y seguimiento de incidencias mediante <b>Jira</b>.</li>
    <li>Manejo de ambientes <b>SIT/UAT</b>, ramas de desarrollo y producción.</li>
    <li>Manejo de <b>Git</b>, bases de datos y metodologías ágiles (<b>Scrum</b> y <b>Kanban</b>).</li>
    <li>Reuniones con clientes para validar nuevas funcionalidades.</li>
    <li>Experiencia en plataformas de apuestas deportivas, casinos virtuales y sector bancario.</li>
</ul>

<p>
Tengo facilidad para aprender nuevas tecnologías y adaptarme rápidamente a las necesidades de cada proyecto.
</p>

<p>
Adjunto mi hoja de vida. También comparto mis perfiles profesionales y portafolio, donde podrán conocer algunos de mis proyectos.
</p>

<p>
<b>LinkedIn</b><br>
<a href="https://www.linkedin.com/in/andres-ramirez-4a677023b/">
linkedin.com/in/andres-ramirez-4a677023b
</a>
</p>

<p>
<b>GitHub</b><br>
<a href="https://github.com/Kirbysnake1">
github.com/Kirbysnake1
</a>
</p>

<p>
<b>Portafolio</b><br>
<a href="https://andramirezporfolio.netlify.app/">
andramirezporfolio.netlify.app
</a>
</p>

<p>
<b>Contacto / WhatsApp</b><br>
<a href="https://wa.me/573002393455">
+57 300 239 3455
</a>
</p>

<p>
Quedo atento a cualquier oportunidad en la que mi perfil pueda aportar valor.
</p>

<p>
Muchas gracias por su tiempo.
</p>

</body>
</html>